.header-1 {
    background-color: #4040a5;
    height: 60px;
    width: 100%;
}
.logo {
    padding: 5px;
    float: left;
}
.topnav {
    padding: 5px;
    color: black;
    width: 50%;
    float: right;
}
.topnav a:hover {
    color: gray;
  }
  .topnav a.active {

    color: white;
  }
.topnav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
.topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
