.header-1 {
    background-color: #4040a5;
    height: 60px;
    width: 100%;
}

.logo {
    padding: 5px;
}

.nav ul li {
    margin-left: 5px;
    display: inline-block;
    float: left;
    list-style: none;
    width: 10%,
}

.nav {
    width: 90%;
    float: right;
}
