.header-1 {
    background-color: #4040a5;
    height: 60px;
    width: 100%;
}

.logo {
    padding: 16px;
}

.nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    width: 10%,
}

.nav {
    width: 90%;
    float: left;
}
